/*-----------------------------------------------------------------
- Pagination > 2
-----------------------------------------------------------------*/
&.pagination-2{
  li{
    span{
      border: 0;
    }
    &:first-child{
      float: right;
    }
    &:last-child{
      float: left;
    }
  }
}